:root {
  font-size: 28px;
  --left-size: 40%;
  --base-color-bg: rgb(48, 52, 70);
  --surface1-bg: rgb(81, 87, 109);
  --text-col: rgb(198, 208, 245);
}

body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: var(--base-color-bg);
  color: var(--text-col);
}

/* LEFT */

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("resources/spenser-sembrat-UvZMA8H2Olk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  width: var(--left-size);
  height: 100%;
}

.big-text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 50vh;
}

/* RIGHT */
.right-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--left-size));
  height: 100%;
}

.right-text {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 144px;
  margin-bottom: 36px;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0;
  background-color: var(--surface1-bg);
}

form label {
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

form input {
  border: 2px solid #e4e4e6;
  border-radius: 5px;
  height: 35px;
  width: 350px;
}

form h3 {
  margin-left: 8px;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 8px;
}
